<ul
	class="navbar-nav sidebar sidebar-dark accordion menu"
	id="accordionSidebar"
>
	<!-- Sidebar - Brand -->
	<a
		class="sidebar-brand d-flex align-items-center justify-content-center mt-3"
		href="#"
	>
		<div class="sidebar-brand-icon rotat-n-15">
			<img src="/static/img/gestao.png" alt="" width="50cm" height="50cm" />
		</div>
		<div class="sidebar-brand-text"><span>Controle de Estoque</span></div>
	</a>

	<!-- Divider -->
	<hr class="sidebar-divider my-2" />

	<!-- Nav Item - Dashboard -->
	<li class="nav-item active">
		<a class="nav-link" href="#">
			<i class="fas fa-home fas 5x"></i>
			<span>Inicio</span></a
		>
	</li>

	<!-- Divider -->
	<hr class="sidebar-divider" />

	<!-- Heading -->
	<div class="sidebar-heading">Interface</div>

	<!-- Nav Item - Pages Collapse Menu -->
	<li class="nav-item active">
		<a
			class="nav-link collapsed"
			href="#"
			data-toggle="collapse"
			data-target="#collapseTwo-menu"
			aria-expanded="true"
			aria-controls="collapseTwo2-menu"
		>
			<span class="material-icons"> content_paste </span>
			<span>Produto</span>
		</a>
		<div
			id="collapseTwo-menu"
			class="collapse"
			aria-labelledby="headingTwo"
			data-parent="#accordionSidebar"
		>
			<div class="bg-white py-2 collapse-inner rounded">
				<a class="collapse-item" href="{% url 'produto:cadastrar_produto'%}"
					>Adicionar Produto</a
				>
				<a class="collapse-item" href="{% url 'produto:listar_produtos'%}"
					>Listar Produtos</a
				>
			</div>
		</div>
	</li>

	<!-- Nav Item - Utilities Collapse Menu -->
	<li class="nav-item active">
		<a
			class="nav-link collapsed"
			href="#"
			data-toggle="collapse"
			data-target="#collapseUtilities"
			aria-expanded="true"
			aria-controls="collapseUtilities"
		>
			<span class="material-icons"> content_paste </span>
			<span>Estoque</span>
		</a>
		<div
			id="collapseUtilities"
			class="collapse"
			aria-labelledby="headingUtilities"
			data-parent="#accordionSidebar"
		>
			<div class="bg-white py-2 collapse-inner rounded">
				<a class="collapse-item" href="{% url 'estoque:estoque_entrada_list' %}"
					>Entrada</a
				>
				<a class="collapse-item" href="{% url 'estoque:estoque_saida_list' %}"
					>Saída</a
				>
			</div>
		</div>
	</li>
	<li class="nav-item active">
		<a
			class="nav-link collapsed"
			href="#"
			data-toggle="collapse"
			data-target="#collapsePages"
			aria-expanded="true"
			aria-controls="collapsePages"
		>
			<span class="material-icons"> production_quantity_limits </span>
			<span>Pedido</span>
		</a>
		<div
			id="collapsePages"
			class="collapse"
			aria-labelledby="headingPages"
			data-parent="#accordionSidebar"
		>
			<div class="bg-white py-2 collapse-inner rounded">
				<a class="collapse-item" href="#">Adicionar Usuario</a>
				<a class="collapse-item" href="# ">Listar Usuarios</a>
			</div>
		</div>
	</li>

	<!-- Heading
    <div class="sidebar-heading">
        Addons
    </div>
 -->
	<!-- Nav Item - Pages Collapse Menu -->

	<hr class="sidebar-divider" />

	<div class="text-center d-none d-md-inline">
		<button class="rounded-circle border-0" id="sidebarToggle"></button>
	</div>
</ul>
